<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenx.security.dynamic.mapper.RoleMapper">

    <select id="selectRolesByUid" resultType="com.wenx.security.dynamic.bean.Role">
        select r.* from role r,user u,user_role ur where u.id=ur.uid and r.id=ur.rid and u.id = #{uid}
    </select>

    <select id="selectRolesByMid" resultType="com.wenx.security.dynamic.bean.Role">
        select r.* from role r,menu m,menu_role mr where m.id=mr.mid and r.id=mr.rid and m.id = #{mid}
    </select>
</mapper>